@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.banner {
  padding: 10rem 2.5rem;

  @include tablet {
    padding: 15rem 4rem;
  }

  @include desktop {
    padding: 15rem 8rem;
  }
}

.text {
  color: $primary-portfolio-PaleAqua;
  font-size: 1rem;
}

.name {
    font-size: 4rem;
    animation: colorChange 5s infinite alternate ease-in-out;
    padding-bottom: 1rem;
}

@keyframes colorChange {
    0% {
      color: $primary-portfolio-MidnightTeal;
    }
    20% {
      color: darken($secondary-portfolio-DeepAqua, 10%);
    }
    40% {
      color: lighten($primary-portfolio-AquaMint, 15%);
    }
    60% {
      color: $secondary-portfolio-DeepAqua;
    }
    80% {
      color: lighten($primary-portfolio-PaleAqua, 10%);
    }
    100% {
      color: $primary-portfolio-AquaMint;
    }
  }

// .name {
//   font-size: 4rem;
//   font-weight: bold;
//   background-image: linear-gradient(
//     to right,
//     $primary-portfolio-AquaMint,
//     $primary-portfolio-PaleAqua,
//     $secondary-portfolio-DeepAqua,
//     $primary-portfolio-MidnightTeal
//   );
//   background-clip: text;
//   -webkit-background-clip: text;
//   color: transparent;
//   animation: rainbow-colors 6s infinite linear;
// }

// @keyframes rainbow-colors {
//   0% {
//     background-position: 0% 50%;
//   }
//   50% {
//     background-position: 100% 50%;
//   }
//   100% {
//     background-position: 0% 50%;
//   }
// }

.titles {
  color: $primary-portfolio-PaleAqua;
  padding-bottom: 2rem;
  font-size: 1rem;
}

.button__hire {
  background-color: $primary-portfolio-AquaMint;
  border-radius: 0.5rem;
  width: 6.3rem;
}
