@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.button {
  display: inline-block;  
  padding: 0.5rem 1rem;
    font-size: 1rem;
    background: $primary-portfolio-MidnightTeal;
    border: 2px solid $primary-portfolio-AquaMint;
    color: $primary-portfolio-AquaMint;
    position: relative;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
  
  
  &:hover {
    transform: translate(-0.2rem, -0.2rem);
  }

  &:active {
    transform: translate(0);
  }
}