@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.scroll-to-top {
  position: fixed;
  bottom: 2rem;
  right: 1.3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  z-index: 1000;
  transition: opacity 0.3s ease;

  @include tablet {
    right: 3.3rem;
  }

  @include desktop {
    right: 7.5rem;
  }
}

.scroll-to-top.visible {
  display: block;
}

.scroll-to-top__icon {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}
