//Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Primary Colors
$primary-portfolio-MidnightTeal: #09333f;
$primary-portfolio-AquaMint: #26f7b2;
$primary-portfolio-PaleAqua: #d3edea;

//Secondary Colors
$secondary-portfolio-DeepAqua: #009d9a;
