@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.work-section {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  margin-top: 7rem;

  @include tablet {
    padding: 3rem 4rem;
  }

  @include desktop {
    padding: 3rem 8rem;
  }
}

.work-section__title {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  position: relative;
  display: inline-block;

  @include tablet {
    font-size: 2rem;
  }
}

.work-section__title::after {
  content: "";
  display: inline-block;
  width: 17rem;
  height: 0.02rem;
  background-color: $primary-portfolio-PaleAqua;
  vertical-align: middle;
  margin-left: 1rem;

  @include tablet {
    width: 18rem;
  }
}

.work-section__title-number {
  color: $primary-portfolio-AquaMint;
}

.work-section__title-text {
  color: $primary-portfolio-PaleAqua;
}

.work-section__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5rem;

  @include tablet {
    align-items: flex-start;
  }
}

.work-section__item {
  display: flex;
  flex-direction: column;

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    background-color: $secondary-portfolio-DarkBlue;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1rem 1rem;
    z-index: -2;

    @include tablet {
      align-items: flex-start;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      border-bottom-left-radius: 0;
    }

    @include desktop {
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
    }

    &__subtitle {
      color: $primary-portfolio-AquaMint;
    }

    &__title {
      color: $primary-portfolio-PaleAqua;
      font-size: 2rem;
      padding-bottom: 3rem;
      padding-top: 0.5 rem;
    }

    &-block {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap:2rem;
      }
    }

    &__image-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
      order: 1;
      height: 18rem;
      width: 100%;

      @include tablet {
        order: 2;
      }

      &-uno {
        object-fit: contain;
        height: 18rem;

        @include tablet {
          height: 20rem;
        }

        // &:after {
        //   @include tablet {
        //     content: "";
        //     height: 18rem;
        // top: 0;
        // right: 9.5rem;
        // position: absolute;
        //     background-color: $primary-portfolio-AquaMint;
        //     filter: blur(20px);
        //     z-index: -1;
        //   }

        //   @include desktop {
        //     top: 0;
        //     right: 14.5rem;
        //   }
        // }
      }

      &-dos {
        height: 18rem;
        background-color: $primary-portfolio-AquaMint;
        border-radius: 0.5rem;
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      order: 2;

      @include tablet {
        order: 1;
      }

      &__text {
        color: $primary-portfolio-PaleAqua;
        font-size: 1rem;
      }

      &__tools {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
        width: 20rem;
        padding-top: 1rem;

        @include tablet {
          width: 30rem;
        }

        @include desktop {
          width: 40rem;
        }

        &-tag {
          background-color: $primary-portfolio-AquaMint;
          opacity: 50%;
          border-radius: 0.5rem;
          padding: 0.2rem 0.5rem;
        }
      }
    }
  }
}

.work-section__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0.5rem;
  margin-bottom: 4rem;
  border: 1px solid $secondary-portfolio-DarkBlue;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  cursor: pointer;

  @include tablet {
    padding: 0.3rem 1rem;
  }

  @include desktop {
    padding: 0.3rem 1rem;
  }

  &:hover,
  :active {
    color: $primary-portfolio-MidnightTeal;
    background-color: $secondary-portfolio-DeepAqua;
  }

  &-item {
    text-decoration: none;
    color: $primary-portfolio-AquaMint;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    &-icon {
      width: 1.5rem;
      height: 1.5rem;
      transition: transform 0.3s ease-in-out;
      position: relative;

      &:hover {
        transform: translateX(10px);
      }
    }
  }
}
